.jumbotron {
  text-align: center;
  padding: 0px;
}

.greyed {
  color: #ccc;
}

button {
  width: 100%;
}

.modal-data {
  font-weight: bold;
  margin-left: 40px;
}

xmp {
	overflow: scroll;
  background: black;
  color: lightgreen;
  opacity: 0.7;
}
